.sdfs{
    background-color: rgb(234, 16, 16); 
color: rgb(255, 255, 255); 
font-size: 20px; 
height: 50px; 
width: 100px; 

    }

.carr{
    background-color: rgb(255, 255, 255); 
color: rgb(0, 0, 0); 
font-size: 20px; 
height: 50px; 
width: 100px; 

    }

.main{
    background-color: rgb(255, 0, 0); 
color: rgb(255, 255, 255); 
font-size: 20px; 
height: 50px; 
width: 100px; 

    }
